@media (min-width: 1024px) {
  .lg\:w-1\/6 {
    width: 25%;
  }
  .lg\:w-1\/5 {
    width: 25%;
  }
  .lg\:w-1\/4 {
    width: 25%;
  }
  .lg\:w-1\/3 {
    width: 33.3333333%;
  }
  .lg\:w-1\/2 {
    width: 50%;
  }
  .lg\:w-2\/3 {
    width: 66.666666%;
  }
  .lg\:w-3\/4 {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .md\:w-1\/6 {
    width: 25%;
  }
  .md\:w-1\/5 {
    width: 25%;
  }
  .md\:w-1\/4 {
    width: 25%;
  }
  .md\:w-1\/3 {
    width: 33.3333333%;
  }
  .md\:w-1\/2 {
    width: 50%;
  }
  .md\:w-2\/3 {
    width: 66.666666%;
  }
  .md\:w-3\/4 {
    width: 75%;
  }
}
